In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('clean_nus_sms.csv')
df.head()

,Unnamed: 0,id,Message,length,country,Date
0,0,10120,Bugis oso near wat...,21,SG,2003/4
1,1,10121,"Go until jurong point, crazy.. Available only ...",111,SG,2003/4
2,2,10122,I dunno until when... Lets go learn pilates...,46,SG,2003/4
3,3,10123,Den only weekdays got special price... Haiz......,140,SG,2003/4
4,4,10124,Meet after lunch la...,22,SG,2003/4

In [21]:
len(df)

48598

In [22]:
country_counts = df['country'].value_counts()
country_counts

country
Singapore              22013
SG                      9806
India                   6901
United States           3749
USA                     1932
Sri Lanka               1017
Malaysia                 766
Pakistan                 751
unknown                  602
Canada                   198
Bangladesh               126
China                    107
india                    105
INDIA                     79
Philippines               67
Indonesia                 48
Nepal                     39
srilanka                  30
United Kingdom            30
Hungary                   28
Serbia                    22
Kenya                     20
Ghana                     18
UK                        10
Italia                    10
Trinidad and Tobago       10
Turkey                    10
Nigeria                   10
Macedonia                 10
New Zealand               10
Slovenia                  10
Lebanon                   10
Romania                    9
Morocco                    9
Australia                  9
jamaica                    8
BARBADOS                   8
France                     5
Spain                      5
MY                         1
Name: count, dtype: int64

The "country" column has duplicates meaning one country has multiple variations(for example, Singapore vs SG, India vs INDIA vs india, United States vs USA). 
To fix it manually, I would use the method .replace() on my dataframe
Now, while commenting the code, I would use the dictionary instead of writing every line:
df["country"].replace({
    "SG": "Singapore",
    "USA" : "United States"
    ...and so on...

},
inplace= True)

In [23]:
df["country"].replace("SG", "Singapore", inplace=True)
df["country"].replace("USA", "United States", inplace=True)
df["country"].replace("india", "India", inplace=True)
df["country"].replace("INDIA", "India", inplace=True)
df["country"].replace("UK", "United Kingdom", inplace=True)
df["country"].replace("MY", "Malaysia", inplace=True)
df["country"].replace("jamaica", "Jamaica", inplace=True)
df["country"].replace("BARBADOS", "Barbados", inplace=True)
df["country"].replace("srilanka", "Sri Lanka", inplace=True)
df["country"].replace("Italia", "Italy", inplace=True)

C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("SG", "Singapore", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("USA", "United States", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("india", "India", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("INDIA", "India", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("UK", "United Kingdom", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("MY", "Malaysia", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("jamaica", "Jamaica", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("BARBADOS", "Barbados", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("srilanka", "Sri Lanka", inplace=True)
C:\Users\exol1\AppData\Local\Temp\ipykernel_37476\3833687472.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["country"].replace("Italia", "Italy", inplace=True)

In [24]:
country_counts = df['country'].value_counts()
country_counts

country
Singapore              31819
India                   7085
United States           5681
Sri Lanka               1047
Malaysia                 767
Pakistan                 751
unknown                  602
Canada                   198
Bangladesh               126
China                    107
Philippines               67
Indonesia                 48
United Kingdom            40
Nepal                     39
Hungary                   28
Serbia                    22
Kenya                     20
Ghana                     18
Lebanon                   10
Trinidad and Tobago       10
Macedonia                 10
Turkey                    10
Nigeria                   10
Slovenia                  10
New Zealand               10
Italy                     10
Morocco                    9
Romania                    9
Australia                  9
Jamaica                    8
Barbados                   8
France                     5
Spain                      5
Name: count, dtype: int64

There is a country-category "unknown". I decided to drop unknown countries as I believe for now they would not bring aby benefits.

In [25]:
mask = df["country"] == "unknown"
df = df[~mask]
len(df)

47996

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47996 entries, 0 to 48597
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  47996 non-null  int64
 1   id          47996 non-null  int64
 2   Message     47993 non-null  object
 3   length      47996 non-null  object
 4   country     47996 non-null  object
 5   Date        47996 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.6+ MB

In [27]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0    0
id            0
Message       3
length        0
country       0
Date          0
dtype: int64

As the "Message" column has null values, I decided to drop them.
As well, there is a strange and redundant column called "Unnamed", I decided to drop it

In [28]:
df = df.dropna(subset=['Message'])

# The first column appears to be a running index designed to match the index of a row in a Pandas DataFrame. 
# This column is redundant, so I drop it from the DataFrame:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47993 entries, 0 to 48597
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       47993 non-null  int64
 1   Message  47993 non-null  object
 2   length   47993 non-null  object
 3   country  47993 non-null  object
 4   Date     47993 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.2+ MB

In [ ]:
df.length.unique() #some lengths have

array(['21', '111', '46', '140', '22', '65', '51', '81', '160', '33',
       '41', '132', '23', '26', '31', '114', '45', '63', '53', '87', '60',
       '79', '25', '56', '47', '118', '82', '58', '155', '83', '28', '54',
       '93', '125', '107', '159', '116', '69', '48', '36', '34', '122',
       '142', '76', '14', '27', '97', '38', '119', '32', '133', '101',
       '74', '123', '104', '43', '62', '59', '42', '115', '44', '86',
       '78', '68', '102', '80', '39', '71', '90', '141', '131', '8', '70',
       '108', '18', '37', '110', '121', '15', '61', '67', '17', '96',
       '10', '24', '9', '19', '52', '16', '13', '3', '7', '20', '5', '75',
       '29', '11', '30', '73', '6', '64', '49', '88', '50', '92', '12',
       '105', '85', '77', '55', '103', '40', '4', '35', '84', '148', '98',
       '57', '149', '72', '2', '66', '137', '147', '158', '151', '94',
       '91', '95', '153', '89', '109', '134', '100', '156', '99', '135',
       '136', '129', '127', '164', '266', '130', '113', '279', '138',
       '117', '219', '157', '120', '112', '152', '124', '145', '126', '1',
       '106', '128', '143', '139', '199', '144', '167', '154', '165',
       '146', '168', '162', '200', '161', '189', '292', '150', '210',
       '178', '205', '186', 'Err:511', '171', '202', '252', '183', '170',
       '604', '304', '424', '436', '173', '247', '262', '163', '670',
       '288', '294', '208', '884', '355', '230', '229', '296', '264',
       '235', '176', '222', '237', '191', '363', '184', '234', '244',
       '221', '790', '201', '289', '415', '431', '190', '290', '379',
       '232', '369', '276', '193', '287', '240', '285', '282', '220',
       '179', '213', '397', '414', '226', '169', '204', '283', '245',
       '196', '215', '181', '198', '333', '272', '188', '242', '172',
       '256', '206', '305', '255', '459', '217', '223', '589', '263',
       '225', '216', '185', '180', '197', '260', '236', '269', '258',
       '437', '207', '286', '251', '300', '166', '175', '306', '243',
       '408', '382', '326', '261', '250', '268', '503', '354', '224',
       '321', '297', '458', '281', '476', '366', '322', '312', '203',
       '303', '332', '291', '329', '270', '177', '368', '174', '384',
       '278', '444', '371', '392', '386', '253', '324', '274', '194',
       '273', '295', '316', '343', '365', '588', '309', '446', '432',
       '302', '445', '308', '429', '461', '228', '910', '293', '192',
       '195', 'Err:509', '552', '218', '319', '313', '298', '762', '541',
       '212', '307', '187', '311', '277', '336', '370', '362', '372',
       '238', '339', '280', '340', '239', '341', '345', '214', '271',
       '211', '353', '359', '299', '453', '314', '419', '400', '231',
       '233', '249', '182', '275', '227', '267', '348', '246', '241',
       '248', '425', '389', '301', '317', '512', 'Err:508', 'Err:510',
       '426', '483', '331', '435', '387', '462', '209', '447', '908',
       '409', '596', '457', '466', '718', '524', '514', '434', '351',
       '527', '257', '427', '335', '443', '328', '487', '265', '442',
       '376', '374', '460', '430', '383', '380', '367', '356', '399',
       '433', '381', '492', '378', '510', '342', '346', '412', '611',
       '352', '357', '254', '259', '334', '377', '350', '315', '537',
       '325', '330', '310', '402', '388', '385', '454', '676', '327',
       '390', '599', '610', '463', '441', '544', '481', '482', '475',
       '474', '320', '488', '757', '575', '358', '500', '411', '661',
       '410', '373', '337', '516', '364', '284', '627', '344', '323'],
      dtype=object)

Four text messages have an error message instead of a length. Conveniently, the Message text of these messages
is the identical error message. Remove these four messages from the DataFrame:

In [32]:
df = df[df.length != 'Err:511']
df = df[df.length != 'Err:510']
df = df[df.length != 'Err:509']
df = df[df.length != 'Err:508']

# Convert the length column from type object to type integer:
df.length = pd.to_numeric(df.length)

In [33]:
df.Date.unique()

array(['2003/4', '2010/11', '2010/12', '2011/1', '2011/2', '2011/3',
       '2011/4', '2011/5', '2011/6', '2011/8', '2011/9', '2011/11',
       '2011/12', '2012/2', '2012/3', '2012/4', '2012/5', '2012/6',
       '2012/7', '2012/8', '2013/5', '2014/9', '2014/11', '2014/12',
       '2015/2', '2015/3'], dtype=object)

In [35]:
df["year"] = df["Date"].str[0:4]
df["month"] = df["Date"].str[5:]

In [36]:
df.head()

,id,Message,length,country,Date,year,month
0,10120,Bugis oso near wat...,21,Singapore,2003/4,2003,4
1,10121,"Go until jurong point, crazy.. Available only ...",111,Singapore,2003/4,2003,4
2,10122,I dunno until when... Lets go learn pilates...,46,Singapore,2003/4,2003,4
3,10123,Den only weekdays got special price... Haiz......,140,Singapore,2003/4,2003,4
4,10124,Meet after lunch la...,22,Singapore,2003/4,2003,4

In [38]:
df.to_csv('new_clean_nus_sms.csv', index=False)